/*.post .meta .date {
	display: none;
}
*/
/******************
slider plugin style
******************/
.sliderCont{
	width: 440px;
	height: 220px;
	position: relative;
	overflow: hidden;
	margin: 20px auto;
}
.leftCov, .rightCov {
	height: 100%;
	width: 110px;
	background: #fff;
	position: absolute;
	z-index: 1;
	opacity: 0.7;
	filter: alpha(opacity=70);/*IE*/
}
.leftCov {
	left: 0;
}
.rightCov {
	right: 0;
}
article .entry-content .sliderList { margin: 0 auto;}
.sliderList{
	width: 880px;
	height: 220px;
	position: absolute;
	left: 0px;
	list-style: none;
	border-left: 0px !important; /*跟全局的ul样式冲突*/
	padding-left: 0px !important; /*跟全局的ul样式冲突*/
}
.sliderList li{
	float: left;
	width: 220px;
}
.arrow {
	position: relative;	
	z-index: 2;
	cursor: pointer;
}
.cf:before,
.cf:after {
    content: " "; 
    display: table; 
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
article div.entry-content ul {
	margin-top: 0;
	padding-left: 10px;
	list-style: none;
	border-left: solid 3px #bf0222;
}
article .entry-content h4 {
	margin-bottom: 10px;
}
.post .entry-content p{
	margin-bottom: 0;
}

 article h2.title {
	font-size: 26px;
	padding-bottom: 0.5em;
}